<div class="my-3 mx-3">
  <h2>ExhaustMap</h2>
  <br>

  <div class="row">
    <div class="col-md-5 ms-auto">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <button class="btn btn-success">Save Data</button> &nbsp;
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="text-center">
        <div class="spinner-border text-warning" role="status">
          <span class="sr-only">Loading....</span>
        </div>Saving...
      </div>
    </div>
  </div>
</div>
