<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list">
        <li>
          <a routerLink="fromEvent">From Event</a>
        </li>
        <li>
          <a routerLink="interval">Interval/Timer</a>
        </li>
        <li>
          <a routerLink="of-from">Of and From</a>
        </li>
        <li>
          <a routerLink="to-array">toArray</a>
        </li>
        <li>
          <a routerLink="custom-observable">Custom Observable</a>
        </li>
        <li>
          <a routerLink="map">Map</a>
        </li>
        <li>
          <a routerLink="pluck">Pluck</a>
        </li>
        <li>
          <a routerLink="filter">Filter</a>
        </li>
        <li>
          <a routerLink="tap">Tap</a>
        </li>
        <li>
          <a routerLink="take">Take, TakeLast and TakeUntil</a>
        </li>
        <li>
          <a routerLink="retry">Retry, RetryWhen,<br> Scan and Delay</a>
        </li>
        <li>
          <a routerLink="debouncetime">DebaounceTime & <br>DistinctUtilChanged</a>
        </li>
        <li>
          <a routerLink="subject">Subject and BehaviorSubject</a>
        </li>
        <li>
          <a routerLink="replay-subject">ReplaySubject</a>
        </li>
        <li>
          <a routerLink="async-subject">AsyncSubject</a>
        </li>
        <li>
          <a routerLink="concat">Concat</a>
        </li>
        <li>
          <a routerLink="merge">Merge</a>
        </li>
        <li>
          <a routerLink="mergemap">MergeMap</a>
        </li>
        <li>
          <a routerLink="concatmap">ConcatMap</a>
        </li>
        <li>
          <a routerLink="mobile-notification">Mobile Notification App</a>
        </li>
        <li>
          <a routerLink="switchmap">SwitchMap</a>
        </li>
        <li>
          <a routerLink="searchapp">Search App</a>
        </li>
        <li>
          <a routerLink="exhaust-map">ExhaustMap</a>
        </li>
      </ul>
    </div>
  </div>
</div>

