<div class="my-3 mx-3">
  <h2>MergeMap</h2>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | MergeMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Video : </strong> ['Tech','Comedy','News']
      </p>
      <hr>
      <ul id="elContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | ConcatMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Video : </strong> ['Tech','Comedy','News']
      </p>
      <hr>
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | switchMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Video : </strong> ['Tech','Comedy','News']
      </p>
      <hr>
      <ul id="elContainer3">
      </ul>
    </div>
  </div>
</div>
